* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ==========scroll behavoir smooth========== */
html {
    scroll-behavior: smooth;
}

/* ==========root========== */
:root {
    --blue: #00bcd4;
    --black: #121212;
    --dark-blue: #274548af;
    --white: #fff;
    --bg: #222222;
    --btn-hover: #029db1;
    --bt-gray: #262626;
    --btn-shadow: 0 3px 8px #029db1;
    --hover-shadow: 0 10px 10px #03819243;
    --bg-form: #292929;
    --tran-slate: translateY(-5px);
}

body {
    background-color: var(--bg);
}

/* ==========header========== */
/* header */
header {
    background-color: var(--black);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 100px;
    box-shadow: 0px 3px 15px rgb(57, 56, 56);
    position: sticky;
    /*ធ្វើអោយheader វាដក់ជាប់នៅមួយកន្លែង*/
    top: 0;
    /*ធ្វើអោយវា មានគម្លាតសូន្យពី top*/
    /* position ទាំង2នេះ ប្រើវានៅពេលដែលយើង scroll ​ទៅតែheader នៅជាប់កន្លែងដដែល */
    z-index: 99;
    /*ធ្វើអោយheader នៅលើស្រទាប់ផ្សេងៗ*/
}

/* nav-logo */
header .nav-logo h3 {
    font-size: 28px;
    font-family: sans-serif;
    color: var(--white);
}

header .nav-logo h3 span {
    color: var(--blue);
}

/* nav-menu */
header .nav-menu {
    display: flex;
    list-style: none;
    gap: 20px;
    align-items: center;
}

header .nav-menu li a {
    text-decoration: none;
    color: var(--white);
    font-family: sans-serif;
    font-weight: bold;
    display: block;
    /*a ជា in line tage យើងត្រូវប្រើ dixplay:block*/
    transition: all 0.4s;
    font-size: 14px;
}

header .nav-menu li a:not(.contact):hover {
    transform: var(--tran-slate);
    color: var(--blue);
}

header .nav-menu li .contact,
main .hero .btn button,
main .contact form .btn button {
    padding: 12px 25px;
    background-color: var(--blue);
    border: none;
    border-radius: 50px;
    transition: all 0.4s;
    box-shadow: var(--btn-shadow);
}

header .nav-menu li .contact:hover,
main .hero .btn button:hover {
    transform: var(--tran-slate);
    box-shadow: var(--hover-shadow);
}

/* ==========body========== */

/* main */
main {
    padding: 0 100px;
}

/* -------------hero------------- */

main .hero {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main .hero h1 {
    font-family: sans-serif;
    font-size: 59px;
    text-align: center;
    color: var(--white);
    line-height: 80px;
}

main .hero h1 span {
    color: var(--blue);
}

main .hero p {
    font-family: sans-serif;
    text-align: center;
    margin: 10px 0px;
    color: var(--white);
}

/* btn */
main .hero .btn {
    margin-top: 20px;
}

main .hero .btn button {
    color: white;
    cursor: pointer;
    margin-right: 20px;
}

main .hero .btn .btn-touch {
    background-color: transparent;

}

main .about {
    width: 100%;
}

main .about h3,
main .projects h3,
main .Get-in-touch h3,
main .contact h3 {
    /* background-color: var(--blue); */
    font-family: sans-serif;
    font-size: 32px;
    text-align: center;
    font-weight: 700;
    color: var(--blue);
    margin-bottom: 50px;
}

/* Group-Box */

main .about .group-box {
    width: 100%;

}

/* ----------one-box---------- */
main .about .group-box .one-box,
main .about .group-box .three-box .box,
main .projects .projects-box .box,
main .contact form {
    width: 100%;
    background-color: var(--bt-gray);
    border: 1px solid gray;
    border-radius: 12px;
    padding: 25px;
    color: var(--white);
    font-family: sans-serif;
    font-size: 14px;
    line-height: 21px;
    transition: all 0.3s;
}

main .about .group-box .one-box:hover,
main .about .group-box .three-box .box:hover,
main .projects .projects-box .box:hover,
main .contact form:hover {
    transform: var(--tran-slate);
    box-shadow: var(--btn-shadow);
}

main .about .group-box .three-box,
main .projects .projects-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 20px;
}

main .about .group-box .three-box .box,
main .projects .projects-box .box {

    width: 33%;
}

main .about .group-box .three-box .box h5,
main .projects .projects-box .box h5 {
    font-size: 24px;
    font-family: sans-serif;
    margin-bottom: 10px;
}

/* ----------Projects---------- */
main .projects {
    width: 100%;
    margin-top: 100px;
}

main .projects .projects-box .box h5 {
    color: var(--blue);
}

main .projects .projects-box .box .btn-box {
    margin-bottom: 10px;
}

main .projects .projects-box .box .btn-box button {
    padding: 7px 15px;
    border: none;
    border-radius: 50px;
    color: var(--blue);
    margin-top: 10px;
    font-weight: bold;
    background-color: #1c535b5c;
    margin-left: 10px;
}

/* --------Contact-------- */

main .contact {
    width: 55%;
    margin: 100px auto 0 auto;
    /* margin-top:100px; margin-bottom:0; margin-left:auto; margin-right:auto; */
}

main .contact h3 {
    margin-top: 100px;
    text-align: center;
}

main .contact form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-bottom: 18px;
    color: var(--white);
    border: 1px solid gray;
    border-radius: 12px;
    margin: auto;
}

main .contact form .group-box {
    width: 80%;
}

main .contact form .group-box label,
main .contact form .group-box textarea {
    display: block;
    margin-top: 24px;
}

main .contact form .group-box input {
    width: 100%;
    padding: 10px;
    border: none;
    margin-top: 10px;
    border-radius: 6px;
    outline: 1px solid gray;
    background-color: var(--bg-form);
    color: var(--white);
}

main .contact form .group-box textarea {
    width: 100%;
    height: 150px;
    /*កំណត់ទំហំ height របស់textarea*/
    outline: 1px solid gray;
    border: none;
    border-radius: 4px;
    border: 1px solid gray;
    background-color: var(--bg-form);
    color: var(--white);
    padding: 10px;
    resize: none;
    /*បិទមិនអោយ user ប្ដូរទំហំtextarea*/
}

main .contact form .btn button {
    width: 100%;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 50px;
    cursor: pointer;
}

main .contact form .group-box input:focus,
main .contact form .group-box textarea:focus {
    outline: 1px solid var(--blue);
}

main .contact form button:hover {
    transform: var(--tran-slate);
    box-shadow: var(--hover-shadow);
}

/* ----------footer---------- */
footer {
    padding: 20px;
    background-color: var(--black);
    margin-top: 100px;
}

footer p {
    color: var(--white);
    font-family: sans-serif;
    font-size: 14px;
    text-align: center;
}

footer ul {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
}

footer ul li a {
    text-decoration: none;
    color: var(--white);
    font-family: sans-serif;
    font-size: 14px;
    font-weight: bold;
    transition: all 0.4s;
}

footer ul li a:hover {
    color: var(--blue);
    transform: var(--tran-slate);
}

/* ==========responsive========== */
/* 1300px */
@media (max-width: 1300px) {
    main .projects .projects-box {
        flex-wrap: wrap;
    }

    main .projects .projects-box .box {
        width: 48.5%;
    }
}

/* 1150px */
@media (max-width: 1150px) {
    main {
        padding: 0 100px;
    }
}

/* 1100px */
@media (max-width: 1100px) {
    /* header */
    /* 1100px */

    header {
        padding: 18px 100px;
    }
}

/* 1030px */
@media (max-width: 1030px) {
    main {
        padding: 0 50px;
    }
}

/* 920px */
@media (max-width: 920px) {
    main {
        padding: 0 30px;
    }
}

/* 880px */
@media (max-width:880px) {
    header {
        padding: 12px 40px;
    }

    main .about .group-box .three-box {
        flex-wrap: wrap;
    }

    main .about .group-box .three-box .box {
        width: 48.1%;

    }
}

/* 760px */
@media (max-width:760px) {
    main .projects .projects-box .box {
        width: 100%;
    }

    main .contact {
        width: 100%;
    }
}
@media (max-width: 760px) {
    main .about .group-box .three-box .box {
        width: 100%;

    }
}

/* 630px */
@media (max-width:630px) {
    header .nav-menu {
        display: none;
    }

    header .nav-logo {
        margin: auto;
    }

    main .projects .projects-box .three-box .box {
        width: 100%;
    }
}

/* 576 */
@media (max-width:576px) {
    header .hero h1 {
        font-size: 50px;
        line-height: 70px;
    }
}